

  <form class="artists-registration uniform" action="/artists/sessions/update/<%=user._id%>" method="post">

      <h2>Hey, <%=user.firstName%>. What would you like to change?</h2>


      <label for="first-name">First Name</label>
      <input type="text" id="first-name" name="firstName" value="<%=user.firstName%>" required>

      <label for="last-name">Last Name</label>
      <input type="text" id="last-name" name="lastName" value="<%=user.lastName%>" required>

      <label for="profile-pic">Profile Picture</label>
      <input type="url" id="profile-pic" name="profilePic" value="<%=user.profilePic%>" required>

      <label for="biography">Biography</label>
      <textarea id="biography" name="biography" rows="8" required><%=user.biography%></textarea>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="<%=user.email%>" required>

      <input type="submit" name="" value="submit">

  </form>
