

<%if(deleted.length > 0){%>
<div class="deleted-product-success">
  <%= deleted %>
</div>
<%}%>
<div class="artist-container">
<div class="artist-info">
  <img src="<%=artist.profilePic%>" alt="<%=artist.firstName%>">
<div>


<h3><%=artist.firstName%> <%=artist.lastName%></h3>
  <p><%=artist.biography%></p>
  </div>
</div>
<% if(user && (user._id == artist._id)){ %>
  <a href="/artists/sessions/update"><button type="button" name="button">Update profile</button></a>
<%}%>

</div>

<div class="products">


<%for(let i =0; i < products.length; i++){%>

  <div class="product">
    <a href="/products/<%=products[i].artist_id%>/<%=products[i].id%>">
    <img src="<%=products[i].images%>" alt="<%=products[i].title%>">
    <div class="product-details">
        <h3><%=products[i].title%></h3>
        </a>
        <p>$<%=products[i].price%></p>
        <p>
          <%if(products[i].qty > 0){%>
            In Stock
          <%} else {%>
            Out of stock oh no
          <%}%>

        </p>
        </div>
    </div>


<%}%>

  </div>
