
<% if(user && (user._id === product.artist_id || user.role === 'admin')){%>




<form class="uniform" action="/products/<%=product._id%>?_method=PUT" method="post">

        <h2>Update Product</h2>


        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%=product.title%>">

        <label for="description">Description</label>
        <textarea name="description" rows="8" id="description"><%=product.description%></textarea>

    <label for="product-image"> Product Image</label>

        <input type="url" id="product-image" name="images" value="<%=product.images%>" required>




        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="<%=product.price%>">

        <label for="qty">Quantity</label>
        <input type="number" id="qty" name="qty" value="<%=product.qty%>">

        <label for="category"></label>
        <select class="" id="category" name="category">
          <option value="dinnerware"
            <%if(product.category === "dinnerware"){%>
              selected
            <%}%>
          >Dinnerware</option>

          <option value="cookware"
          <%if(product.category === "cookware"){%>
            selected
          <%}%>
          >Cookware</option>

          <option value="bakeware"
          <%if(product.category === "bakeware"){%>
            selected
          <%}%>
          >Bakeware</option>

          <option value="cutlery"
          <%if(product.category === "cutlery"){%>
            selected
          <%}%>
          >Cutlery</option>

          <option value="decor"
          <%if(product.category === "decor"){%>
            selected
          <%}%>
          >Decor</option>
        </select>
        <input type="submit" name="" value="Update">

    </form>
<%}else {%>
  <p>Sorry you don't have access to this page. <a href="/">Click here to return to the home page.</a></p>
<%}%>
