

    <!-- I have access to both the artist object and the product object. -->
<div class="product-container">

<img src="<%=product.images[0]%>" alt="">
    <h2><%=product.title%></h2>
    <p><%=product.description%></p>
    <p><%=product.price%></p>

<%if(product.qty > 0){%>
  <p>In stock</p>
<%} else{%>
  Sold out
<%}%>

    </div>

<div class="artist-container">
  <img src="<%=artist.profilePic%>" alt="<%=artist.firstName%>">

<h3> <%=artist.firstName%></h3>
  <p><%=artist.biography%></p>
</div>






    <% if(user && (user._id == artist._id || user.role === 'admin')){%>
    <form onsubmit="return confirm('are you sure you want to delete this product? This action cannot be undone.')" class="" action="/products/delete/<%=product._id%>?_method=DELETE" method="post">
      <input type="submit" name="" value="Delete">
    </form>
    <a href="/products/edit/<%=product._id%>"> <button type="button" name="button">Edit</button> </a>


  <%}%>
